body,
ul,
li {
  font-family: "微软雅黑";
  padding: 0;
  margin: 0;
  list-style: none;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.yellow {
  color: #FFDA28;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  overflow: hidden;
  background: #168BD8;
  height: 60px;
}
.nav .min-navBox {
  display: none;
}
.nav .navBox {
  margin-left: -15px;
  margin-right: -15px;
  height: 100%;
}
.nav .navBox .navLogo {
  height: 40px;
  width: 142px;
  margin-top: 10px;
  float: left;
  background: url("../images/logo.png") no-repeat left top;
}
.nav .navBox .navCenter {
  font-size: 14px;
  width: 32%;
  float: right;
  line-height: 80px;
  text-align: justify;
  margin-right: 200px;
}
.nav .navBox .navCenter:after {
  content: "";
  height: 0;
  line-height: 0;
  width: 100%;
  font-size: 0;
  display: inline-block;
}
.nav .navBox .navCenter a {
  display: inline-block;
}
.nav .navBox .navRight {
  font-size: 12px;
  height: 100%;
  text-align: justify;
  float: right;
  width: 32%;
  line-height: 80px;
}
.nav .navBox .navRight a {
  display: inline-block;
}
.nav .navBox .navRight:after {
  content: "";
  height: 0;
  line-height: 0;
  width: 100%;
  font-size: 0;
  display: inline-block;
}
.floor1 {
  width: 100%;
  height: 100%;
  background: #3fb0ee url(../images/bg1.jpg) repeat center top;
}
.floor1 .cover .top {
  position: absolute;
  width: 100%;
  left: 0;
  top: -50px;
}
.floor1 .cover .top .cloud1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  animation: slideOutLeft 20s linear infinite;
}
.floor1 .cover .top .cloud1 img {
  width: 100%;
}
.floor1 .cover .middle {
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
}
.floor1 .cover .middle .cloud2 {
  position: absolute;
  top: 0px;
  left: 460px;
  width: 100%;
  height: 1000px;
  animation: slideOutLeft 60s linear infinite;
}
.floor1 .cover .middle .cloud2 img {
  width: 100%;
}
.floor1 .cover .bot {
  position: absolute;
  width: 100%;
  left: 30px;
  top: 110px;
}
.floor1 .cover .bot .cloud3 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 1000px;
  animation: slideOutLeft 40s linear infinite;
}
.floor1 .cover .bot .cloud3 img {
  width: 100%;
}
.floor1 .main1 {
  position: relative;
}
.floor1 .main1 .wenzi {
  width: 501px;
  height: 158px;
  background: url(../images/yuqing.png);
  position: absolute;
  left: 0;
  top: 100px;
}
.floor1 .main1 .feiji {
  width: 119px;
  height: 78px;
  background: url(../images/feiji.png);
  position: absolute;
  top: 90px;
  left: 286px;
  animation: slideInDown 2s linear infinite alternate;
}
.floor1 .main1 .chuan {
  width: 242px;
  height: 228px;
  background: url(../images/chuan.png);
  position: absolute;
  left: 150px;
  top: 328px;
  animation: slideInLeft 1s linear ;
}
.floor1 .main1 .bing1 {
  width: 265px;
  height: 175px;
  background: url(../images/bing1.png);
  position: absolute;
  left: -150px;
  top: 466px;
}
.floor1 .main1 .bing2 {
  width: 260px;
  height: 175px;
  background: url(../images/bing2.png);
  position: absolute;
  right: -100px;
  top: 466px;
}
.floor1 .main1 .bing3 {
  width: 63px;
  height: 78px;
  background: url(../images/bing3.png);
  position: absolute;
  right: 250px;
  top: 500px;
}
.floor1 .main1 .login {
  top: 150px;
  right: 0px;
  width: 340px;
  height: 290px;
  background: #4EBFFC;
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
}
.floor1 .main1 .login .login-1 {
  position: relative;
  width: 300px;
  height: 40px;
  margin: 20px auto;
  background: #fff;
  line-height: 40px;
  padding-left: 10px;
}
.floor1 .main1 .login .login-2 {
  position: relative;
  width: 300px;
  height: 40px;
  margin: 0px auto;
  background: #fff;
  line-height: 40px;
  padding-left: 10px;
}
.floor1 .main1 .login .login-3 {
  position: relative;
  width: 100px;
  height: 40px;
  margin: 20px 20px;
  background: #fff;
  line-height: 40px;
  padding-left: 10px;
}
.floor1 .main1 .login .login-3 span {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 40px;
  background: #B7E4FD;
  margin-left: 140px;
  color: #204D66;
 
}
.floor1 .main1 .login .login-3 a {
  display: inline-block;
  color: #fff;
   position:absolute;
   left:260px;
   bottom:0px;
   width:56px;
   height: 40px;
}
.floor1 .main1 .login input {
  position: absolute;
  top: 0px;
  left: 30px;
  outline: none;
  width: 92%;
  height: 96%;
  border: none;
}
.floor1 .main1 .login-4 {
  position: relative;
  width: 300px;
  height: 40px;
  margin: 20px auto;
  line-height: 40px;
  padding-left: 10px;
}
.floor1 .main1 .login-4 .btn {
  background: #FFD850;
  display: block;
  width: 100%;
  height: 40px;
  color: #777;
  font-size: 20px;
}
.floor1 .floor1Bot{
  width:100%;
  height:180px;
  position: absolute;
  top:515px;
  z-index: 9999;
  left:0;
  background:  url(../images/bg1-1.jpg) ;
  opacity:0.5;
}
@media screen and (max-width: 768px) {
  .nav {
    max-width: 768px;
  }
  .navBox {
    display: none;
  }
  .min-navBox {
    padding-left: 15px;
    padding-right: 15px;
    display: block !important;
    height: 100%;
    text-align: justify;
    line-height: 60px;
    vertical-align: middle;
  }
  .min-navBox:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    line-height: 0;
    font-size: 0;
  }
  .min-navBox div {
    display: inline-block;
  }
  .min-navBox .min-icon,
  .min-navBox .min-right {
    color: #fff;
  }
  .min-navBox .min-logo {
    height: 40px;
    width: 142px;
    margin-top: 10px;
    background: url(../images/logo.png) no-repeat;
  }
}
